<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="ashutosh555@gmail.com"/>
    <add key="Password" value="Password_777"/>
    <add key="Website" value="http://automationpractice.com"/>
    <add key="PageLoadTimeout" value="60"/>
    <add key="ElementLoadTimeOut" value="60"/>
  </appSettings>
</configuration>